<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <bringeast>
            <social>
                <facebook>1</facebook>
                <twitter>1</twitter>
                <pinterest>1</pinterest>
            </social>
        </bringeast>
    </default>
</config>
